/* Global CSS styling */

:root {
  --font-size-action: 18px;
  --button-primary-color: 0, 100, 25;
  --button-clicked-color: 0, 64, 0;
  --button-disabled-color: 60, 60, 60;
  --spacing-med: 12px;
}

@font-face {
    font-family: 'Game';
    src: url('./assets/fonts/game.ttf');
}

@font-face {
    font-family: 'Play';
    src: url('./assets/fonts/Play/Play-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Play';
    src: url('./assets/fonts/Play/Play-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat/Montserrat-Regular.ttf');
    font-weight: normal;
}

html {
  font-family: "Montserrat";
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.button {
  border: black solid 1px;
  border-radius: 10px;
  font-family: "Play";
  padding: var(--spacing-med);
  text-align: center;
  color: white;
  font-size: var(--font-size-action);
}

.button.primary {
  cursor: pointer;
  background-color: rgba(var(--button-primary-color), 0.8);
}

.button.primary:hover {
  background-color: rgba(var(--button-primary-color), 0.3);
}

.button.primary:active {
  background-color: rgba(var(--button-primary-color), 1);
  transform: scale(0.99);
}

.button.clicked {
  color: gray;
  background-color: rgba(var(--button-clicked-color), 0.8);
}

.button.primary.clicked:hover {
  background-color: rgba(var(--button-clicked-color), 0.9);
}

.button.primary.clicked:active {
  background-color: rgba(var(--button-clicked-color), 1);
  transform: scale(0.99);
}

.button.disabled {
    cursor: not-allowed;
  color: gray;
  background-color: rgba(var(--button-disabled-color), 0.8);
}

.me {
    color: yellow;
}
