:root {
  --font-size-action: 18px;
  --button-primary-color: 0, 100, 25;
  --spacing-med: 12px;
}

@font-face {
    font-family: 'Game';
    src: url('./fonts/game.ttf');
}

@font-face {
    font-family: 'Play';
    src: url('./fonts/Play/Play-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Play';
    src: url('./fonts/Play/Play-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat/Montserrat-Regular.ttf');
    font-weight: normal;
}

html {
  font-family: "Montserrat";
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

i {
    position: absolute;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.arrow:hover {
    border: solid #D3D3D3;
    border-width: 0 3px 3px 0;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    z-index: 1;
    margin-bottom: 8px;
    margin-left: -15px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 2;
    margin-top: 8px;
    margin-left: -15px;
}

.game_area {
    font-family: 'Play';
    position: relative;
    border: 1px solid black;
    margin: auto;
    background-color: #2c4d32;
}

.game_area .player_list {
    position: absolute;
    padding-top: 44px;
    top: 150px;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    height: 460px;
    text-align: center;
    color: darkblue;
    border: 1px solid black;
    border-radius: 16px;
    background-color: tan;
}

.title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 44px;
    margin-bottom: 40px;
}

.game_area .player_list li {
    font-size: 18px;
    margin-bottom: 14px;
}

.game_area .me {
    color: yellow;
}

.game_area .round_info {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 16px;
    color: darkblue;
    border: 1px solid black;
    border-radius: 16px;
    background-color: tan;
}

.game_area .game_properties {
    margin: 40px;
}

.game_area .game_info {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 16px;
    color: darkblue;
    border: 1px solid black;
    border-radius: 16px;
    background-color: tan;
}

.game_area .game_info li {
    margin-top: 4px;
}

.game_area .player_name {
    font-size: 16px;
    padding: 5px;
}

.game_area .crown {
    width: 20px;
    height: 16px;
    background-image: url("./crown.png");
    background-size: cover;
    display: inline-block;
    margin-left: 5px;
}

.game_area .my_area {
    z-index: 1;
}

.game_area .current {
    color: darkblue;
    border: 1px solid black;
    border-radius: 8px;
}

.game_area .start_action_button {
    position: absolute;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    bottom: 44px;
}

.game_area .start_action_button:hover {
    width: 204px;
    margin-left: -102px;
    bottom: 42px;
}

.game_area .notification {
    position: absolute;
    top: 390px;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: white;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: orange;
    z-index: 9999;
}

.game_area img {
    position: absolute;
}

.game_area .player_container {
    position: absolute;
}

.hidden {
    display: none;
}

.game_area .start_game_button {
    width: 150px;
    margin: auto;
}

.game_area .game_action_button {
    position: absolute;
    top: 750px;
    left: 50%;
    width: 150px;
    margin-left: -75px;
}

.game_area .game_action_button:hover {
    width: 154px;
    margin-left: -77px;
    top: 748px;
}

.game_area .last_trick_button {
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 64px;
    height: 80px;
    background-image: url("./last_trick.png");
    background-size: cover;
}

.game_area .last_trick_button:active {
    bottom: 22px;
    right: 22px;
    width: 60px;
    height: 76px;
}

.action_button {
    cursor: pointer;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: white;
    font-size: 24px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: green;
}

.gray {
    background-color: gray;
}

.action_button:hover {
    height: 40px;
    line-height: 40px;
    font-size: 25px;
}

.lobbyContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#joinContainer {
  margin-bottom: calc(2 * var(--spacing-med));
  display: flex;
  flex-wrap: wrap;
}

#joinContainer input {
  font-family: "Montserrat";
  font-size: var(--font-size-action);
  margin-right: var(--spacing-med);
  text-align: center;
}

.button {
  border: black solid 1px;
  border-radius: 10px;
  font-family: "Play";
}

.button.primary {
  cursor: pointer;
  padding: var(--spacing-med);
  text-align: center;
  color: white;
  font-size: var(--font-size-action);
  background-color: rgba(var(--button-primary-color), 0.8);
}

.button.primary:hover {
  background-color: rgba(var(--button-primary-color), 0.9);
}

.button.primary:active {
  background-color: rgba(var(--button-primary-color), 1);
  transform: scale(0.99);
}
