:root {
  --font-size-action: 18px;
  --button-primary-color: 0, 100, 25;
  --spacing-med: 12px;
}

@font-face {
    font-family: 'Game';
    src: url('./fonts/game.ttf');
}

@font-face {
    font-family: 'Play';
    src: url('./fonts/Play/Play-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Play';
    src: url('./fonts/Play/Play-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat/Montserrat-Regular.ttf');
    font-weight: normal;
}

html {
  font-family: "Montserrat";
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.edit_name {
    cursor: pointer;
    width: 20px;
    height: 16px;
    background-image: url("./pencil.png");
    background-size: cover;
    display: inline-block;
    margin-left: 5px;
    position: relative;
}

.arrow {
    position: absolute;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.arrow:hover {
    border: solid #D3D3D3;
    border-width: 0 3px 3px 0;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-bottom: 8px;
    margin-left: -15px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-top: 8px;
    margin-left: -15px;
}

.game_area {
    font-family: 'Play';
    position: relative;
    border: 1px solid black;
    margin: auto;
    background-color: #2c4d32;
}

.game_area .player_list {
    position: absolute;
    padding-top: 44px;
    top: 150px;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    text-align: center;
    color: darkblue;
    border: 1px solid black;
    border-radius: 16px;
    background-color: tan;
}

.title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 44px;
    margin-bottom: 40px;
}

.game_area .player_list li {
    font-size: 18px;
    margin-bottom: 14px;
}

.game_area .me {
    color: yellow;
}

.game_area .round_info {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 16px;
    color: darkblue;
    border: 1px solid black;
    border-radius: 16px;
    background-color: tan;
}

.game_area .friend_declaration {
    margin-top: 10px;
}

.game_area .game_properties {
    margin: 40px;
}

.game_area .game_properties div {
    margin-bottom: 10px;
}

.game_area .game_properties input[type=checkbox] {
    width: 18px;
    height: 18px;
}

.game_area .game_info {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 16px;
    color: darkblue;
    border: 1px solid black;
    border-radius: 16px;
    background-color: tan;
}

.game_area .game_info li {
    margin-top: 4px;
}

.game_area .player_name {
    font-size: 16px;
    padding: 5px;
    color: white;
    white-space: nowrap;
}

.game_area .crown {
    width: 20px;
    height: 16px;
    background-image: url("./crown.png");
    background-size: cover;
    display: inline-block;
    margin-left: 5px;
}

.game_area .big_crown {
    position: absolute;
    width: 48px;
    height: 48px;
    background-image: url("./crown.png");
    background-size: cover;
    display: inline-block;
    left: -24px;
    bottom: 0px;
}

.game_area .my_area {
    z-index: 1;
}

.game_area .current {
    color: orange;
    border: 1px solid orange;
    border-radius: 8px;
}

.game_area .player_info {
    color: white;
    position: relative;
    bottom: 10px;
    margin-left: 2px;
    white-space: nowrap;
}

.game_area .settings {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 16px;
    border: 1px solid black;
    border-radius: 2px;
    background-color: tan;
}

.game_area .settings.sound3 {
    background-image: url("./sound3.png");
    background-size: cover;
}

.game_area .settings.sound2 {
    background-image: url("./sound2.png");
    background-size: cover;
}

.game_area .settings.sound1 {
    background-image: url("./sound1.png");
    background-size: cover;
}

.game_area .settings.sound0 {
    background-image: url("./sound0.png");
    background-size: cover;
}

.game_area .start_action_button {
    position: absolute;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    bottom: 44px;
}

.game_area .start_action_button:hover {
    width: 204px;
    margin-left: -102px;
    bottom: 42px;
}

.game_area .notification {
    position: absolute;
    top: 390px;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: white;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: gray;
    z-index: 2;
}

.game_area .notification.warn {
    background-color: orange;
    z-index: 4;
}

.game_area .notification.short {
    width: 100px;
    margin-left: -50px;
}

.game_area .confirm_does_it_fly {
    width: 160px;
    height: 100px;
    background-color: orange;
    margin-left: -100px;
    top: 330px;
    left: 50%;
    position: absolute;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.game_area .confirm_does_it_fly button {
    width: 70px;
    height: 30px;
    margin: 10px 5px 0 5px;
}

.game_area .confirm_does_it_fly button:hover {
    cursor: pointer;
    background-color: lightgray;
}

.game_area img {
    position: absolute;
}

.game_area .player_container {
    position: absolute;
}

.hidden {
    display: none;
}

.game_area .start_game_button {
    width: 150px;
    margin: auto;
    margin-bottom: 44px;
}

.bottom_button {
    position: absolute;
    top: 750px;
    left: 50%;
    width: 150px;
    margin-left: -75px;
}

.bottom_button.clickable:hover {
    width: 154px;
    margin-left: -77px;
    top: 748px;
}

.game_area .last_trick_button {
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 64px;
    height: 80px;
    background-image: url("./last_trick.png");
    background-size: cover;
}

.game_area .last_trick_button:hover {
    bottom: 22px;
    right: 22px;
    width: 60px;
    height: 76px;
}

.game_area .view_kitty_button {
    cursor: pointer;
    position: absolute;
    bottom: 25px;
    right: 116px;
    width: 84px;
    height: 64px;
    background-image: url("./kitty.png");
    background-size: cover;
}

.game_area .view_kitty_button:hover {
    bottom: 27px;
    right: 118px;
    width: 80px;
    height: 60px;
}

.game_area .kitty {
    position: absolute;
    bottom: 200px;
    right: 150px;
}

.action_button {
    cursor: not-allowed;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: darkgray;
    font-size: 24px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: gray;
}

.action_button.clickable {
    cursor: pointer;
    color: white;
    background-color: gray;
}

.action_button.active.active {
    background-color: green;
}

.action_button.clickable:hover {
    height: 40px;
    line-height: 40px;
    font-size: 25px;
}

.lobbyContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#joinContainer {
  margin-bottom: calc(2 * var(--spacing-med));
  display: flex;
  flex-wrap: wrap;
}

#joinContainer input {
  font-family: "Montserrat";
  font-size: var(--font-size-action);
  margin-right: var(--spacing-med);
  text-align: center;
}

.button {
  border: black solid 1px;
  border-radius: 10px;
  font-family: "Play";
}

.button.primary {
  cursor: pointer;
  padding: var(--spacing-med);
  text-align: center;
  color: white;
  font-size: var(--font-size-action);
  background-color: rgba(var(--button-primary-color), 0.8);
}

.button.primary:hover {
  background-color: rgba(var(--button-primary-color), 0.9);
}

.button.primary:active {
  background-color: rgba(var(--button-primary-color), 1);
  transform: scale(0.99);
}

.button.inactive.inactive {
    background-color: gray;
}

.button.inactive.inactive:hover {
    background-color: rgba(128, 128, 128, 0.9);
}

.find_a_friend_panel {
    width: 300px;
    background-color: orange;
    margin-left: -160px;
    top: 250px;
    left: 50%;
    position: absolute;
    padding: 0 20px;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 3;
}

.find_a_friend_panel h3 {
    font-size: 18px;
    margin: 18px 0;
}

.find_a_friend_panel .friend_row {
    margin-bottom: 4px;
}

.find_a_friend_panel select {
    height: 26px;
    margin: 4px;
}

.find_a_friend_panel .make_friend_button {
    height: 26px;
    margin: 9px 0 18px 0;
}
