@font-face {
    font-family: 'Game';
    src: url('./font.ttf');
}

.game_area {
    font-family: 'Game';
    position: relative;
    border: 1px solid black;
}

.game_area .notification {
    position: absolute;
    top: 390px;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: white;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: orange;
}

.game_area img {
    position: absolute;
}

.game_area .player_container {
    position: absolute;
}

.hidden {
    display: none;
}

.action_button {
    cursor: pointer;
    position: absolute;
    top: 750px;
    left: 50%;
    width: 150px;
    margin-left: -75px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: white;
    font-size: 24px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: green;
}

.action_button:hover {
    width: 154px;
    margin-left: -77px;
    height: 40px;
    line-height: 40px;
    top: 748px;
    font-size: 25px;
}
