.action_button {
    cursor: not-allowed;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: darkgray;
    font-size: 24px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: gray;
}

.action_button.clickable {
    cursor: pointer;
    color: white;
    background-color: gray;
}

.action_button.active.active {
    background-color: green;
}

.action_button.clickable:hover {
    height: 40px;
    line-height: 40px;
    font-size: 25px;
}

.bottom_button {
    position: absolute;
    top: 750px;
    left: 50%;
    width: 150px;
    margin-left: -75px;
}

.bottom_button.clickable:hover {
    width: 154px;
    margin-left: -77px;
    top: 748px;
}
