*.eml
*.iml
*.ipr
*.iws
.classpath
.gradle
.idea/
.project
.settings
/bin/
/build/
node_modules/
bundle.js
src/main/resources/assets/*.png
src/main/resources/assets/*.ttf
package-lock.json
.DS_Store
src/main/resources/assets/bundle.js.map
yarn.lock
