.trick .winner {
    position: absolute;
    width: 48px;
    height: 48px;
    background-image: url("../../assets/images/crown.png");
    background-size: cover;
    display: inline-block;
    left: -24px;
    bottom: 0px;
}
