.round_info_panel {
    position: absolute;
    top: var(--spacing-med);
    left: var(--spacing-med);
    padding: var(--spacing-med);
    color: darkblue;
    border: 1px solid black;
    border-radius: 8px;
    background-color: tan;
}

.round_info_panel .section {
    margin-top: 3px;
}

.round_info_panel .satisfied {
    text-decoration: line-through;
}
