.round_info_panel {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 16px;
    color: darkblue;
    border: 1px solid black;
    border-radius: 16px;
    background-color: tan;
}

.round_info_panel .section {
    margin-top: 10px;
}

.round_info_panel .satisfied {
    text-decoration: line-through;
}
