.game_info_panel {
    position: absolute;
    top: var(--spacing-med);
    right: var(--spacing-med);
    padding: var(--spacing-med);
    color: darkblue;
    border: 1px solid black;
    border-radius: 8px;
    background-color: tan;
}

.game_info_panel li {
    margin-top: 3px;
}
