.rejoin_panel {
    width: 200px;
    background-color: orange;
    margin-left: -120px;
    top: 320px;
    left: 50%;
    position: absolute;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 3;
}

.rejoin_panel button {
    width: 200px;
    margin-bottom: 10px;
}

.rejoin_panel button:hover {
    cursor: pointer;
    background-color: lightgray;
}
