.kitty .view_kitty_button {
    cursor: pointer;
    position: absolute;
    bottom: 25px;
    right: 116px;
    width: 84px;
    height: 64px;
    background-image: url("../../assets/images/kitty.png");
    background-size: cover;
}

.kitty .view_kitty_button:hover {
    bottom: 27px;
    right: 118px;
    width: 80px;
    height: 60px;
}

.kitty .kitty_cards {
    position: absolute;
    bottom: 200px;
    right: 150px;
}
