.game_area {
    font-family: 'Play';
    position: relative;
    border: 1px solid black;
    margin: auto;
    background-color: #2c4d32;
}

.game_area .me {
    color: yellow;
}

.game_area .notification {
    position: absolute;
    top: 390px;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: white;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: gray;
    z-index: 2;
}

.game_area .notification.warn {
    background-color: orange;
    z-index: 4;
}

.game_area .notification.short {
    width: 100px;
    margin-left: -50px;
}

.game_area .last_trick_button {
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 64px;
    height: 80px;
    background-image: url("../../assets/images/last_trick.png");
    background-size: cover;
}

.game_area .last_trick_button:hover {
    bottom: 22px;
    right: 22px;
    width: 60px;
    height: 76px;
}

.game_area .view_kitty_button {
    cursor: pointer;
    position: absolute;
    bottom: 25px;
    right: 116px;
    width: 84px;
    height: 64px;
    background-image: url("../../assets/images/kitty.png");
    background-size: cover;
}

.game_area .view_kitty_button:hover {
    bottom: 27px;
    right: 118px;
    width: 80px;
    height: 60px;
}

.game_area .kitty {
    position: absolute;
    bottom: 200px;
    right: 150px;
}
