.settings_panel .button {
    position: absolute;
    width: 26px;
    height: 26px;
    padding: 3px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: tan;
    background-size: cover;
    cursor: pointer;
}

.settings_panel .button:hover {
    background-color: rgba(210, 180, 140, 0.9);
}

.settings_panel .sound {
    bottom: 20px;
    left: 20px;
}

.settings_panel .forfeit {
    bottom: 20px;
    left: 60px;
    background-image: url("../../assets/images/forfeit.png");
}

.settings_panel .undo {
    bottom: 20px;
    left: 100px;
    background-image: url("../../assets/images/undo.png");
}

.settings_panel .sound3 {
    background-image: url("../../assets/images/sound3.png");
}

.settings_panel .sound2 {
    background-image: url("../../assets/images/sound2.png");
}

.settings_panel .sound1 {
    background-image: url("../../assets/images/sound1.png");
}

.settings_panel .sound0 {
    background-image: url("../../assets/images/sound0.png");
}
